<template>
  <div>
    <h3>Facts</h3>

    <p v-if="!facts.length">No facts available yet</p>

    <ul id="random-facts">
      <li v-for="fact in facts" v-bind:key="fact._id">
        {{ fact.text }}
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import { getRandomFacts, Fact } from "@/app/animal-facts/animal-facts-service";

export default defineComponent({
  name: "AnimalFacts",

  data() {
    return {
      facts: new Array<Fact>()
    };
  },

  async mounted() {
    this.facts = await getRandomFacts();
  }
});
</script>
