<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <AnimalFacts />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import AnimalFacts from "@/app/animal-facts/AnimalFacts.vue"; // @ is an alias to /src

export default defineComponent({
  name: "Home",
  components: {
    AnimalFacts
  }
});
</script>
